<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493298545794-igmja0821gnkm0cqkag2hd8c3jhis30f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493298545794-igmja0821gnkm0cqkag2hd8c3jhis30f</string>
	<key>API_KEY</key>
	<string>AIzaSyCQc9pVshZG2t3H1weW8PVrZimkevWW360</string>
	<key>GCM_SENDER_ID</key>
	<string>493298545794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snufkinz.lifecompassapp</string>
	<key>PROJECT_ID</key>
	<string>life-compass-44318</string>
	<key>STORAGE_BUCKET</key>
	<string>life-compass-44318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493298545794:ios:0790d523f8afb763be709b</string>
	<key>DATABASE_URL</key>
	<string>https://life-compass-44318.firebaseio.com</string>
</dict>
</plist>